[Desktop Entry]
Version=1.0
Type=Application
Exec=pymakr
MimeType=text/x-python;
Icon=pymakr
Terminal=false
Name=Pymakr
Comment=Integrated Development Environment for Pycom products
GenericName=IDE for Pycom products
Categories=Qt;Python;Development;IDE;
StartupNotify=true
Keywords=python;micropython;development;ide;REPL;editor
