change|{rev}:{node|short}
user|{author|email}
parents|{parents}
date|{date|isodate}
description|{desc}
file_copies|{join(file_copies,', ')}
file_adds|{join(file_adds,', ')}
files_mods|{join(file_mods,', ')}
file_dels|{join(file_dels,', ')}
branches|{branch}
tags|{join(tags,', ')}
bookmarks|{join(bookmarks,', ')}
phase|{phase}
@@@
